.icones-footer{
          display: inline-block;
          width: 250px;
          height: auto;
          margin: auto;
          text-align: center;
}

.icone{
          margin-left: 5px;
          margin-bottom: 50px;
}

