.wrapper {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
}

.auto-grid {
	--auto-grid-min-size: 24rem;
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(var(--auto-grid-min-size), 1fr)
	);
	grid-column-gap: 0.8rem;
}

.header {
	position: relative;
	grid-auto-rows: 90vh;
}

.main {
	--auto-grid-min-size: 20rem;
}

.footer {
	--auto-grid-min-size: 20rem;
	background-color: #348aed;
}

@media (max-width: 1024px) {
	.footer {
		--auto-grid-min-size: 22rem;
	}
}

@media (max-width: 768px) {
	.auto-grid {
		--auto-grid-min-size: 16rem;
	}
}

@media (max-width: 425px) {

	.header{
		grid-auto-rows: 60vh;
	}

	.footer {
		--auto-grid-min-size: 16rem;
	}
}
