.wrapper {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
}

.auto-grid {
	--auto-grid-min-size: 24rem;
	display: grid;
	grid-template-columns: repeat(
		auto-fill, minmax(var(--auto-grid-min-size), 1fr)
	);
	grid-column-gap: 0.8rem;
}

/* .auto-grid {
} */

/* .auto-grid div{border: 1px solid black;} */

.header{
	position: relative;
	grid-auto-rows: 100vh;
}

.main{
	--auto-grid-min-size: 20rem;
}

.footer{
	--auto-grid-min-size: 40rem;
	background-color: #348AED;
	grid-auto-rows: 200px;	
}

@media (max-width: 768px){
	.auto-grid{
		--auto-grid-min-size: 16rem;
	}
}

